docs/site/

# OSX Junk
.DS_Store

# Python cache
__pycache__/
*.pytest_cache/
.cache/*

.vscode

# datasets
data/
logs/

# large artifacts
*.json
*.pt
*.bin
*.ckpt

# but track inference and eval outputs
!results/outputs/
!results/outputs/**
