torch
numpy
pandas
transformers
datasets
tokenizers
safetensors
tqdm
regex
pyyaml
evaluate
rouge_score
nltk
accelerate
bert-score
textstat
peft
requests
vllm
easse @ git+https://github.com/feralvam/easse.git
openai
