export UV_PROJECT_ENVIRONMENT=/gscratch/scrubbed/<net-id>/medjargone
export UV_LINK_MODE=copy
export UV_CACHE_DIR=/gscratch/scrubbed/<net-id>/uv-cache
export HF_HOME=/gscratch/scrubbed/<net-id>/hf-cache
export TRANSFORMERS_CACHE=/gscratch/scrubbed/<net-id>/hf-cache